<div class="row" *ngIf="tarea == null">
  <div class="col-12 d-flex justify-content-center h-100">

    <div class="spinner-grow text-themecolor " role="status" >
        <span class="sr-only">Cargando...</span>
    </div>      
  </div>
  <div class="col-12 d-flex justify-content-center h-100">
    <p>Cargando...</p>
  </div>
</div>
<div class="card mb-0 p-0 animated fadeInRightBig" *ngIf="tarea != null">
  <form action="" ngNativeValidate #f="ngForm" (ngSubmit)="crearEditarTarea(f.value)" autocomplete="off" class="form-material" >
  <div class="card-header bg-white mt-2">
    <div class="row justify-content-around">
     
      <div [ngSwitch]="crear" class="col-11 text-left pl-0" [ngClass]="{'col-10 col-sm-11 col-md-11 col-lg-11 col-xl-11 ': crear}">
  
               
            <div *ngSwitchCase="false" class="col-12 pr-0 justify-content-start" >
              <div  *ngIf="datos">
                <div [ngSwitch]="tarea.finalizado">
                  <div *ngSwitchCase="true">
                    <div class=" col-12  pl-0" >  
                      
                      <button type="button" class="btn btn-themecolor btnTerminado"    >
                        <i class="fa fa-check-square" aria-hidden="true"></i> <span> Tarea terminada </span></button>
                    </div>

                  </div>
                  <div *ngSwitchCase ="false">
                    <div class=" col-12 pl-0">
                      <button type="button" class="btn btn-outline-secondary btnTerminado" >
                        <i class="fa fa-check" aria-hidden="true"></i><span>Tarea pendiente </span></button>
                    </div>

                  </div>
                  <div *ngSwitchDefault>
                    <div class=" col-12  pl-0">
                      <button type="button" class="btn btn-outline-secondary btnTerminado" >
                        <i class="fa fa-check" aria-hidden="true"></i><span>Tarea pendiente </span></button>
                    </div>

                  </div>
               
              </div>
         
            </div>
          </div>
             <div *ngSwitchCase = "true">
               <div class="col-12 col-md-12 p-0">
                  <h3>Llena los campos necesarios</h3>
               </div>
              
  
             </div>
        
        
      
      </div>
      <div class="col-1 text-right" [ngClass]="{'col-1 text-right col-sm-1 col-md-1 col-lg-1 col-xl-1': crear}"  >
        <i class="fa fa-times fa-xs pointer" aria-hidden="true" (click)="cerrarTarea()"></i>
     </div>
    </div>    
  </div>
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="form-group">      
          <input type="text" [(ngModel)]="tarea.nombre" class="form-control" name="nombre" id="" aria-describedby="helpId" placeholder="Nombre de la tarea..." required>
        </div>      
      </div>
      <div class="col-12 d-block">
        <div class="row d-flex align-items-center justify-content-around">
          <div class=" col-12 col-lg-6 col-xl-6 p-0">
            <div class="col-12">

              <div class="form-group">   
                
                <tag-input *ngIf="datos" class="p-0  form-control w-100" theme='minimal' [onlyFromAutocomplete]="true" [(ngModel)]="arregloParticipante"
                name="participante"  [identifyBy]="'_id' " [displayBy]="'nombre'" [maxItems]="1"[placeholder]="''" [secondaryPlaceholder]="'Asignar a'">
                <tag-input-dropdown [showDropdownIfEmpty]="false" [autocompleteItems]="nombres"  >
                </tag-input-dropdown>
                </tag-input>  
              </div>
                    
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl-6 mb-3 p-0">
              <div class="col-12 align-self-center">

                 <app-datepicker  [(fecha)] = "this.fecha" (fechaSeleccion)="obtenerFecha($event)"></app-datepicker>
              </div>

          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group d-flex w-100 ">
        <div class="col-1 pl-0">
          <i class="fa fa-align-left"></i>           
        </div>
        <div class="col-11 w-100">
          <textarea [(ngModel)]="tarea.descripcion" name="descTarea" id="" cols="30" rows="5" placeholder="Descripción de la tarea" class="w-100 form-control"></textarea></div>
        </div>
      </div>
      <div class="col-12 d-block ">
        <div class="form-group">
        <div class="row  align-items-center justify-content-around">

            <div class="col-12 col-xl-5 ">
              
              <i class="ti-blackboard"></i> 
              <span class="badge badge-pill btn-themecolor badgeProyecto ml-2">{{tarea?.proyecto?.nombre || proyecto?.nombre}} </span>
            </div>
            <div class="col-12 col-xl-7 float-left">
              <p class="text-muted" *ngIf="tarea.finalizado">Tarea completada el {{tarea.fechaFinalizado}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>

    </div>
  </div>
  <div class="card-footer text-muted bg-white text-right">
    <div class="row  justify-content-around">
      <div class="col-4 col-xl-6 text-left" *ngIf="!crear" (click)="eliminarTarea(tarea)"><button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</button></div>
      <div class="col-4 col-xl-6" [ngClass]="{'col-12 text-center': crear}"><button type="submit" class="btn btn-themecolor">Guardar</button></div>
    </div>
    
  </div>
</form>
</div>