<div class="card mb-0 p-0" *ngIf="datos">
  <form action="" ngNativeValidate #f="ngForm" (ngSubmit)="crearEditarTarea(f.value)" autocomplete="off" class="form-material">
  <div class="card-header bg-white mt-2">
    <div class="row border-bottom">
     
      <div class="col-6" [ngClass]="{'col-11': crear}">
        <div class="row">
          <div [ngSwitch]="crear">
            <div *ngSwitchCase="false">
              <div class="col-12">
                <div [ngSwitch]="finalizado">
                  <div *ngSwitchCase="true">
                    <div class=" col-12" >  
                      
                      <button type="button" class="btn btn-themecolor btnTerminado"    >
                        <i class="fa fa-check-square" aria-hidden="true"></i> <span> Tarea terminada </span></button>
                    </div>

                  </div>
                  <div *ngSwitchDefault>
                    <div class=" col-12">
                      <button type="button" class="btn btn-outline-secondary btnTerminado" >
                        <i class="fa fa-check" aria-hidden="true"></i><span>Tarea pendiente </span></button>
                    </div>

                  </div>
                </div>
                    
                </div>
            </div>
           <div *ngSwitchCase = "true">
             <div class="col-12">
                <h3>Llena los campos necesarios</h3>
             </div>
            

           </div>
          </div>
        </div>
        
      
      </div>
      <div class="col-1 text-right " [ngClass]="{'col-6': !crear}" >
        <i class="fa fa-times fa-xs pointer" aria-hidden="true" (click)="cerrarTarea()"></i>
     </div>
    </div>    
  </div>
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="form-group">      
          <input type="text" [(ngModel)]="tarea.nombre" class="form-control" name="nombreTarea" id="" aria-describedby="helpId" placeholder="Nombre de la tarea...">
        </div>      
      </div>
      <div class="col-12 d-block">
        <div class="row d-flex align-items-center justify-content-around">
          <div class=" col-12 col-lg-6 col-xl-6 p-0">
            <div class="col-12">

              <div class="form-group">   
                
                <tag-input class="p-0  form-control w-100" theme='minimal' [onlyFromAutocomplete]="true" [(ngModel)]="arregloParticipante "
                name="participante"  [identifyBy]="'_id'" [displayBy]="'nombre'" [maxItems]="1"[placeholder]="''" [secondaryPlaceholder]="'Asignar a'">
                <tag-input-dropdown [showDropdownIfEmpty]="false" [autocompleteItems]="nombres" >
                </tag-input-dropdown>
                </tag-input>  
              </div>
                    
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl-6 mb-3 p-0">
              <div class="col-12 align-self-center">

                 <app-datepicker  [(fecha)] = "this.fecha" (fechaSeleccion)="obtenerFecha($event)"></app-datepicker>
              </div>

          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group d-flex w-100 ">
        <div class="col-1 pl-0">
          <i class="fa fa-align-left"></i>           
        </div>
        <div class="col-11 w-100">
          <textarea [(ngModel)]="tarea.descripcion" name="descTarea" id="" cols="30" rows="5" placeholder="Descripción de la tarea" class="w-100 form-control"></textarea></div>
        </div>
      </div>
      <div class="col-12 d-block ">
        <div class="form-group">
        <div class="row  align-items-center justify-content-around">

            <div class="col-12 col-xl-4 ">
              
              <i class="ti-blackboard"></i> 
              <span class="badge badge-pill btn-themecolor badgeProyecto ml-2">{{proyecto.nombre}} </span>
            </div>
            <div class="col-12 col-xl-8 float-left">
              <p class="text-muted" *ngIf="tarea.finalizado">Tarea completada el {{tarea.fechaFinalizado}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>

    </div>
  </div>
  <div class="card-footer text-muted bg-white text-right">
    <div class="row  justify-content-around">
      <div class="col-4 col-xl-6 text-left" *ngIf="!crear"><button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</button></div>
      <div class="col-4 col-xl-6" [ngClass]="{'col-12': crear}"><button type="submit" class="btn btn-themecolor">Guardar cambios</button></div>
    </div>
    
  </div>
</form>
</div>