<div class="row no-gutters">
  <div class="col-12 col-xl-6" *ngIf="usuarios.length >0">
    <h1 class="text-themecolor">Usuarios</h1>
  <div class="card-columns">
    <div class="card mb-0  " *ngFor="let usuario of usuarios">
      <div class="card-body">
          <img class="card-img-top rounded-circle" [src]="usuario.img | archivo:usuario._id:'usuarios'" >
         <h4 class="card-title text-center m-auto" >{{usuario.nombre}}</h4>                                  
      </div>
      <footer>
          <button class="btn btn-themecolor btn-block" (click)="redireccionar(usuario.nombre)">
              <i class="fa fa-edit"></i>
          </button>
      </footer>
    </div>
  </div>
</div>

  <div  *ngIf="proyectos.length > 0" class="col-12 col-xl-6  " >
    <h1 class="text-themecolor mt-3 mt-xl-0">Proyectos</h1>

          <div class="card mt-3 mt-xl-0 w-75" *ngFor="let proyecto of proyectos">
            <div class="card-body">
              <div class="col">
                  <h1 class="card-title text-center m-auto" >Nombre del Proyecto: {{proyecto.nombre}}</h1>                 
              </div>
              <div class="col mt-2">
                  <h3 class="card-text text-center m-auto" >Cliente: {{proyecto.nombreEmpresa}}</h3>     
                  <p class="card-text"></p>                            
              </div>
              <div class="col">

                <small class="text-muted">Último editor: {{proyecto?.ultimoEditor?.nombre}}</small>
              </div>

            </div>
          
           
            <footer>
                <button class="btn btn-themecolor btn-block mr-3" [routerLink]="['/editarProyecto', proyecto._id]">
                  <i class="fa fa-edit"></i>
              </button>
            </footer>
          </div>
      </div>
     
</div>

