<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header p-0">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <div class="row">
                                <div class="col text-center ">
                                    <div class="w-100">
                                        <img src="assets/images/logod.png" alt="homepage" class="img-thumbnail" />


                                    </div>

                                </div>
                            </div>
                            <!-- Light Logo icon -->
                        </b>
                </a>                   
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0" >
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item hidden-xs-down search-box" *ngIf="role === 'ADMIN_ROLE'"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                    <div class="app-search">
                       
                        <input type="text" #input (keyup)="buscar(input.value)"class="form-control" placeholder="Buscar en general"> <a class="srh-btn"><i class="ti-close"></i></a> 
                    </div>
                </li>

               
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img [src]="usuario.img | archivo:usuario._id:'usuarios'" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img [src]="usuario.img | archivo:usuario._id:'usuarios'" alt="user"></div>
                                    <div class="u-text">                                           
                                        <h4>{{ usuario.nombre }}</h4>
                                        <p class="text-muted">{{usuario.correo}}</p><a routerLink="/perfil"  class="btn btn-rounded btn-danger btn-sm">Mi perfil</a>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="/perfil"><i class="ti-user"></i> Mi Perfil</a></li>
                            <li><a routerLink="/misproyectos"><i class="ti-blackboard"></i> Proyectos en los que participo</a></li>
                            <li role="separator" class="divider"></li>                           
                            <li><a (click)="_usuarioService.logout()" class="pointer"><i class="fa fa-power-off"></i> Log-out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->