 <div class="fondoNegro animated fadeIn" >
  <div class="modal mt-5" style ="display:block;"id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <ng-progress id="progreso" [spinner]="true"  [thick]="true"></ng-progress>
          <h5 class="modal-title" id="exampleModalCenteredLabel">Cambiar imagen de perfil</h5>
          <button type="button" (click)="cerrarModal()" class="close pointer"  aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body ">
          <div class="row text-center">
            <div class="col-12">

              <img *ngIf="!imagenTemp" [src]="this.usuario.img  | archivo:usuario._id:'usuarios'" alt="" class="prevImgPerfil img-circle "id="imgTemp">
              <img *ngIf="imagenTemp" [src]="croppedImage" alt="user" class="prevImgPerfil img-circle " id="imgTemp">
            </div>
            <div class="col-12">

              <image-cropper 
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1"
              [resizeToWidth]="128"
              [onlyScaleDown]="true"
              [roundCropper]="true"
              [imageQuality]="95"
              croppedImageformat="png"
              (imageCropped)="imageCropped($event)"          
              (loadImageFailed)="loadImageFailed()"></image-cropper>
           </div>
              <div class="col-12">
                <input #inputFile type="file" (change)="seleccionImagen($event)" class="mb-2 mt-3" accept=".PNG, .jpg, .jpeg"  >
              </div>
          </div>
          
          <br>
        </div>
        <div class="modal-footer">
            <button [disabled]="!imagenSubir" type="button" class="btn btn-themecolor" (click)="subirImagen()"> Guardar Cambios</button>

          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div> 
  


<!-- </div> -->
<!-- Modal -->
