<div class="row justify-content-center">
  <div class="col-12">
      <div class="card">
          <div class="card-header bg-white ">
            <div class="row">
              <div class="col-xl-8 col-12"> <h3> <b> Tareas de proyecto* </b></h3></div>
              <div class="col-xl-4 col-12 text-right">  <button type="button" class="btn btn-themecolor"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Nueva Tarea</button> </div>
            </div>
            
          </div>
          <div class="card-body pl-0 pr-0">
            <div class="col-12"> 
              <div class="row no-gutters text-left align-items-center borde-lista  "><!-- Aquí ng for -->
                <div class="col-1  col-md-1 col-lg-1 col-xl-1 d-flex align-items-end ">
                  <div class="custom-control custom-checkbox mt-1 p-0 pl-xl-2">
                    <input type="checkbox" class="custom-control-input " id="customCheck1">
                    <label class="custom-control-label m-0" for="customCheck1"></label>
                  </div>
                </div>
                <div class="col-10  col-md-6 col-lg-6 col-xl-8 overflowTarea ml-2 ml-xl-0 ">
                    <div>
                        <span class="">Hacer el sidebar del sitio y terminar el pendiente con el sadasd jashdjkas dsadas jkahsdjk hasd kk</span>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 col-xl-2 text-right ml-2 ml-xl-3  ">
                  <div>
                              <p class="badge badge-pill bg-theme text-break d-block">Eduardo Moreno López</p>

                  </div>
                </div>
              </div>
              

            </div>           
          </div>
          
        </div>
  </div>
</div>

