<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-header bg-white">
            <div class="row">
              <div class="col-8"> <h3> <b> Tareas de proyecto* </b></h3></div>
              <div class="col-4">  <button type="button" class="btn btn-themecolor"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Nueva Tarea</button> </div>
            </div>
            
          </div>
          <div class="card-body">
            <div class="col-12">
              <div class="row no-gutters">
                <div class="col-2">

                </div>
                <div class="col-8">

                </div>
                <div class="col-4">

                </div>
              </div>
              

            </div>
            <p class="card-text">Content</p>
          </div>
          
        </div>
  </div>
</div>

