.overflowTarea{
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: ellipsis;
    scrollbar-width: thin;
    
    
}
.overflowY{
    max-height: 498.5px;
    overflow-y: scroll;
    scrollbar-width: thin;    
    padding: 0;
}
::-webkit-scrollbar{
    width: thin;
}