<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-outline-secondary"><i class="fa fa-check" aria-hidden="true"></i> Marcar cómo completado</button>
        <button type="button" class="btn btn-success"><i class="fa fa-check-square" aria-hidden="true"></i> Tarea completada</button>
      </div>
      <div class="col-6">
        <i class="fas fa-cross"></i>      
      </div>
    </div>    
  </div>
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <p class="card-text">Text</p>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>