<div class="container-fluid " >
  <div class="row no-gutters justify-content-center">
      <ng-progress id="progreso" [spinner]="true"  [thick]="true"></ng-progress>

    <div class="col-12 col-xl-8">
      
<div class="row" *ngIf="cargando">
    <div class="col-12 justify-content-center">
        <div class="alert-warning text-center">
            <p>
               <strong>Cargando</strong>
            </p>            
             <i class="fa fa-refresh fa-spin fa-3x">           
             </i>
             <br>
             <p> <span>Espere por favor...</span></p>
           </div>       
         </div>
    </div>
      <div class="card bg-white animated fadeInDown" *ngIf="dataLista">
        <div class="card-body no-gutters">

          <form ngNativeValidate #f="ngForm"  (ngSubmit)="editarProyecto(f.value)"
            class="form-horizontal form-material " id="nProyectoForm" action="index.html" autocomplete="off">

            <div class="col-12 mb-5">
            <div class="row">
              <div class="col-12"> 
                 <img src="assets/images/logod.png" alt="Home"  />
              </div>
                <div class="col-12 col-xl-6"> 
                  <h3 class="box-title m-b-0">Editar proyecto </h3>              
                </div>

                <div class="col-12 col-xl-6 mt-2 mt-xl-0  ">
                  <div class="row no-gutters  ">                  
                    <div class="col-12 col-md-12 col-xl-12 ml-0 ml-xl-1 text-right">
                      <button class="btn btn-themecolor" type="button" (click)="irTareas()" routerLinkActive="router-link-active" >
                          Tareas <i class="fa fa-tasks" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                 

                </div>
            </div>
           
             
            </div>
            <div class="col-12">

              <fieldset class="border border-primary mb-4">
                <legend for="">Nombre del proyecto</legend>
                <div class="form-group mt-3  pl-2 pr-2">
                  <div class="col-12">
                    <input [(ngModel)]="proyecto.nombre" name="nombre" class="form-control" type="text" required
                      placeholder="Nombre (requerido)">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-12">

              <fieldset class="border border-primary mb-4">
                <legend for="" >Descripción del proyecto</legend>
                <div class="form-group ">
                    <div class="col-12">
                        <textarea autocomplete="descripcion" [(ngModel)]="proyecto.descripcion" name="descripcion" class="form-control txtarea"   placeholder="Descripción... (requerido)">{{descripcion}}</textarea>
                    </div>
                </div>
              </fieldset>
            </div>
            
<!---Mostrar Cliente y empresa-->

            <div class="col-12">
              <div class="row">
                <div class="col-12 col-xl-5  d-inline-block">
                  <fieldset class="border border-primary mb-4">
                    <legend for="">Cliente/Empresa</legend>
                    <div class="form-group  pl-2 pr-2">
                      <div class="col-12 d-inline pr-4">
                        <input [(ngModel)]="proyecto.nombreEmpresa" name="nombreEmpresa" class="form-control" type="text"
                          required placeholder="Empresa (requerido)">
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="col-12 col-xl-7 d-inline-block fecha ">
                  <fieldset class="border border-primary pb-4">
                    <legend for="">Fecha proyectada</legend>
                    <app-datepicker  [fecha] = "this.fecha"(fechaSeleccion)="obtenerFecha($event)"></app-datepicker>
                  </fieldset>
                </div>
              </div>
            </div>
<!---Fin Mostrar Cliente y empresa-->
            <div class="col-12">
              <fieldset class="border border-primary mb-4">
                <legend for="">Participantes</legend>
                <div class="form-group ">
                  <div class="col-12">
                    <span>

                    </span>
                    <tag-input theme='minimal'  [onlyFromAutocomplete]="true" [secondaryPlaceholder]="'Elige participantes'" [(ngModel)]="participantes"
                      name="participantes" class="form-control" [identifyBy]="'_id'" [displayBy]="'nombre'">
                      <tag-input-dropdown [showDropdownIfEmpty]="false" [autocompleteItems]="nombres">
                      </tag-input-dropdown>
                    </tag-input>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-12">
              <fieldset class="border border-primary mb-4">
                <legend for="">Subir archivo</legend>
                <div class="form-group ">
                  <div class="col-12 ">
                    <div class="form-group">
                      <div class="row no-gutters">
                        <div class="col-12 ">
                          
                          <div class="custom-file ">
                            <input type="file"#inputArchivo name="inputArchivo" id="customFile"
                            (change)="archivoInput($event.target.files[0])" accept=".rar,.zip"
                            placeholder="Elegir archivo" class="custom-file-input w-100 " aria-describedby="fileHelpId">
                            <label for="customFile"class="custom-file-label">Elegir archivo</label>                        
                          </div>
                        </div>
                        <div class="col-12">
                          <div *ngIf="inputVacio" >
                            <span>{{nombreArchivo}}</span>
                            <button type="button" class="close" aria-label="Close" (click)="quitarArchivo()">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>

                        </div>
                        <small id="fileHelpId" class="form-text text-muted">Solo se acepta un archivo .rar o .zip</small>
                      </div>                      
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <fieldset class="border border-primary mb-4">
                    <legend for="">Descripción del archivo subido</legend>
                    <div class="form-group ">
                      <div class="col-12">
                        <textarea [(ngModel)]="comentario" name="comentario" class="form-control comentario"
                           placeholder="Descripción... (requerido)" maxlength="150"></textarea>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </fieldset>
              
            </div>

            <!---Mostrar archivos--> 
            <div class="col-12  d-flex justify-content-center text-center">
              <div class="table-responsive">

               
                 <table class="table table-striped table-hover">
                   <thead class="thead-dark ">
                     <tr class="text-center">
                        <th class="text-center">Descripción del archivo</th>
                        <th class="text-center">Responsable</th>
                                           

                       <th class="justify-content-center text-center">Operaciones</th>                      
                     </tr>
                     </thead>
                     <tbody class="">
                       <tr *ngFor="let archivo of archivosMostrar | paginate: config" class=" fila  w-100 h-50 ">
                          <td class="align-middle">{{archivo.comentario}}</td>                            
                              <td class="align-middle">{{archivo.responsable.nombre}}</td>
                         <td class="align-middle">
                           <button class="btn btn-themecolor mr-3" type="button" (click)="descargarArchivo( archivo )">
                             <i class="fa fa-download" aria-hidden="true"></i>

                           </button>
                           <button class="btn btn-danger" type="button" (click)="eliminarArchivo(archivo)">
                             <i class="fa fa-trash" aria-hidden="true"></i>
                           </button>
                         </td>
                       </tr>
                       
                       
                     </tbody>
                 </table>                                 
               </div>  
              
             </div>
             <div class="text-center mt-3 col-12">
              <pagination-controls 
                            
              [maxSize]="maxSize"
              [directionLinks]="directionLinks"
              [autoHide]="autoHide"
              [responsive]="responsive"
              [previousLabel]="labels.previousLabel"
              [nextLabel]="labels.nextLabel"
              (pageChange)="onPageChange($event)">
                

              </pagination-controls>
            </div>
            <!----Fin Mostrar Archivos--> 
            <div class="form-group text-center m-t-20">
              <div class="col-12">
                <button class="btn btn-themecolor btn-lg btn-block text-uppercase waves-effect waves-light"
                  type="submit">Guardar cambios</button>
                  <button class="btn btn-themecolor btn-lg btn-block text-uppercase waves-effect waves-light" [routerLink]="['/ver-proyectos']"  type="button" >Volver</button>

              </div>
            </div>
          </form>
        </div>



      </div>
    </div>
  </div>
</div>
